@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");
body {
    font-family: "Roboto";
}
:root {
    --color-1: #4890ff;
    --color-2: #2e5f80;
    --color-3: #777777;
    --color-4: #000000;
    --color-5: #ffffff;
    --color-6: #1a73e8;
    --color-7: #ff3333;
    --color-8: #00a826;
    --color-9: #faad14;
    --color-10: #1a1a1a;
    --color-11: #e5e5e5;
    --color-12: #fafafa;
    --color-13: #e5e5e1;

    --fs-1: 2.5rem;
    --fs-2: 2rem;
    --fs-3: 1.75rem;
    --fs-4: 1.5rem;
    --fs-5: 1.25rem;
    --fs-6: 1rem;
    --fs-7: 0.875rem;
    --fs-8: 0.75rem;
    --fs-9: 0.625rem;

    --fw-1: 300;
    --fw-2: 400;
    --fw-3: 500;
    --fw-4: 600;
    --fw-5: 700;
    --fw-6: 800;

    --rounded-1: 1px;
    --rounded-2: 2px;
    --rounded-3: 3px;
    --rounded-4: 4px;
    --rounded-5: 5px;
    --rounded-6: 6px;
    --rounded-7: 7px;
    --rounded-8: 8px;
    --rounded-9: 9px;
    --rounded-10: 10px;
}

.fs {
    &-1 {
        font-size: var(--fs-1);
    }
    &-2 {
        font-size: var(--fs-2);
    }
    &-3 {
        font-size: var(--fs-3);
    }
    &-4 {
        font-size: var(--fs-4);
    }
    &-5 {
        font-size: var(--fs-5);
    }
    &-6 {
        font-size: var(--fs-6);
    }
    &-7 {
        font-size: var(--fs-7);
    }
    &-8 {
        font-size: var(--fs-8);
    }
    &-9 {
        font-size: var(--fs-9);
    }
}
.fw {
    &-1 {
        font-weight: var(--fw-1);
    }
    &-2 {
        font-weight: var(--fw-2);
    }
    &-3 {
        font-weight: var(--fw-3);
    }
    &-4 {
        font-weight: var(--fw-4);
    }
    &-5 {
        font-weight: var(--fw-5);
    }
    &-6 {
        font-weight: var(--fw-6);
    }
}
.form {
    &-select,
    &-control,
    &-check-input {
        &:focus {
            box-shadow: none !important;
            border-color: var(--color-1);
        }
    }
    &-check-input {
        &:checked {
            background-color: var(--color-1);
            border-color: var(--color-1);
        }
    }
}
.color {
    &-1 {
        color: var(--color-1) !important;
    }
    &-2 {
        color: var(--color-2) !important;
    }
    &-3 {
        color: var(--color-3) !important;
    }
    &-4 {
        color: var(--color-4) !important;
    }
    &-5 {
        color: var(--color-5) !important;
    }
    &-6 {
        color: var(--color-6) !important;
    }
    &-7 {
        color: var(--color-7) !important;
    }
    &-8 {
        color: var(--color-8) !important;
    }
    &-9 {
        color: var(--color-9) !important;
    }
    &-10 {
        color: var(--color-10) !important;
    }
    &-11 {
        color: var(--color-11) !important;
    }
    &-12 {
        color: var(--color-12) !important;
    }
}
.bg-color {
    &-1 {
        background-color: var(--color-1) !important;
    }
    &-2 {
        background-color: var(--color-2) !important;
    }
    &-3 {
        background-color: var(--color-3) !important;
    }
    &-4 {
        background-color: var(--color-4) !important;
    }
    &-5 {
        background-color: var(--color-5) !important;
    }
    &-6 {
        background-color: var(--color-6) !important;
    }
    &-7 {
        background-color: var(--color-7) !important;
    }
    &-8 {
        background-color: var(--color-8) !important;
    }
    &-9 {
        background-color: var(--color-9) !important;
    }
    &-10 {
        background-color: var(--color-10) !important;
    }
    &-11 {
        background-color: var(--color-11) !important;
    }
    &-12 {
        background-color: var(--color-12) !important;
    }
}
.border-color {
    &-1 {
        border-color: var(--color-1) !important;
    }
    &-2 {
        border-color: var(--color-2) !important;
    }
    &-3 {
        border-color: var(--color-3) !important;
    }
    &-4 {
        border-color: var(--color-4) !important;
    }
    &-5 {
        border-color: var(--color-5) !important;
    }
    &-6 {
        border-color: var(--color-6) !important;
    }
    &-7 {
        border-color: var(--color-7) !important;
    }
    &-8 {
        border-color: var(--color-8) !important;
    }
    &-9 {
        border-color: var(--color-9) !important;
    }
    &-10 {
        border-color: var(--color-10) !important;
    }
    &-11 {
        border-color: var(--color-11) !important;
    }
    &-12 {
        border-color: var(--color-12) !important;
    }
}
.rounded {
    &-1 {
        border-radius: var(--rounded-1) !important;
    }
    &-2 {
        border-radius: var(--rounded-2) !important;
    }
    &-3 {
        border-radius: var(--rounded-3) !important;
    }
    &-4 {
        border-radius: var(--rounded-4) !important;
    }
    &-5 {
        border-radius: var(--rounded-5) !important;
    }
    &-6 {
        border-radius: var(--rounded-6) !important;
    }
    &-7 {
        border-radius: var(--rounded-7) !important;
    }
    &-8 {
        border-radius: var(--rounded-8) !important;
    }
    &-9 {
        border-radius: var(--rounded-9) !important;
    }
    &-10 {
        border-radius: var(--rounded-10) !important;
    }
}
.hover {
    &-text {
        &--color-1 {
            &:hover {
                color: var(--color-1) !important;
            }
        }
        &--underline {
            text-decoration: none !important;
            &:hover {
                text-decoration: underline !important;
            }
        }
    }
    &-bg-color {
        &-12 {
            &:hover {
                background-color: var(--color-12) !important;
            }
        }
    }
}
.z {
    &-1 {
        z-index: 1 !important;
    }
    &-2 {
        z-index: 2 !important;
    }
    &-3 {
        z-index: 3 !important;
    }
    &-4 {
        z-index: 4 !important;
    }
    &-5 {
        z-index: 5 !important;
    }
}
.w {
    &-0 {
        width: 0 !important;
    }
}
.h-vh {
    &-25 {
        min-height: 30vh !important;
        max-height: 30vh !important;
    }
    &-70 {
        min-height: 70vh !important;
        max-height: 70vh !important;
    }
}
.react-svg {
    div {
        display: flex;
    }
}
.btn {
    height: 38px !important;
    &--color-1 {
        background-color: var(--color-1);
        color: var(--color-5);

        border: none;
        &:hover {
            background-color: var(--color-2);
            color: var(--color-5);
        }
        &--outline {
            border: 1px solid var(--color-1);
            background-color: var(--color-5);
            color: var(--color-1);
            &:hover {
                background-color: var(--color-1);
                color: var(--color-5);
            }
        }
    }
}
.sizing {
    &-border {
        box-sizing: border-box !important;
    }
}
.ratio {
    &-30x30 {
        width: 30px !important;
        height: 30px !important;
        aspect-ratio: 1/1;
    }
    &-40x40 {
        min-height: 40px !important;
        min-width: 40px !important;
        max-width: 40px !important;
        max-height: 40px !important;
        aspect-ratio: 1/1;
    }
    &-100x100 {
        width: 100px !important;
        height: 100px !important;
        aspect-ratio: 1/1;
    }
}
.text-truncate {
    &-2,
    &-3 {
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
        text-decoration: none;
    }
    &-2 {
        -webkit-line-clamp: 2;
    }
    &-3 {
        -webkit-line-clamp: 3;
    }
}
.hidden-scrollBar {
    &::-webkit-scrollbar {
        display: none !important;
    }
}
.priority {
    &-1 {
        color: #0065ff !important;
    }
    &-2 {
        color: #ffab00 !important;
    }
    &-3 {
        color: #ff5630 !important;
    }
}
.status {
    &-1 {
        color: #555555 !important;
    }
    &-2 {
        color: #146c94 !important;
    }
    &-3 {
        color: #ed2b2a !important;
    }
    &-4 {
        color: #5d9c59 !important;
    }
}
.due-date {
    &-1 {
        padding: 4px 8px;
        border-radius: 4px;
        color: #ed2b2a;
        background-color: rgba($color: #ed2b2a, $alpha: 0.25);
    }
    &-2 {
        color: #ff5630;
        padding: 4px 8px;
        border-radius: 4px;
        background-color: rgba($color: #ff5630, $alpha: 0.25);
    }
    &-3 {
        color: #0065ff;
        padding: 4px 8px;
        border-radius: 4px;
        background-color: rgba($color: #0065ff, $alpha: 0.25);
    }
}
textarea {
    resize: none !important;
}
.fade-in {
    animation: fadeIn 0.5s ease;
}
.appear {
    animation: appear 0.3s ease;
}
.transition-ease {
    transition: all 0.5s ease;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(1rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}
@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
