@import "bootstrap/dist/css/bootstrap.min.css";
:root {
    --color-1: #4890ff;
    --color-2: #2e5f80;
    --color-3: #777777;
    --color-4: #000000;
    --color-5: #ffffff;
    --color-6: #1a73e8;
    --color-7: #ff3333;
    --color-8: #00a826;
    --color-9: #faad14;
    --color-10: #1a1a1a;
    --color-11: #e5e5e5;

    --fs-1: 2.5rem;
    --fs-2: 2rem;
    --fs-3: 1.75rem;
    --fs-4: 1.5rem;
    --fs-5: 1.25rem;
    --fs-6: 1rem;
    --fs-7: 0.875rem;
    --fs-8: 0.75rem;
    --fs-9: 0.625rem;

    --fw-1: 300;
    --fw-2: 400;
    --fw-3: 500;
    --fw-4: 600;
    --fw-5: 700;
    --fw-6: 800;
}

.fs {
    &-1 {
        font-size: var(--fs-1);
    }
    &-2 {
        font-size: var(--fs-2);
    }
    &-3 {
        font-size: var(--fs-3);
    }
    &-4 {
        font-size: var(--fs-4);
    }
    &-5 {
        font-size: var(--fs-5);
    }
    &-6 {
        font-size: var(--fs-6);
    }
    &-7 {
        font-size: var(--fs-7);
    }
    &-8 {
        font-size: var(--fs-8);
    }
    &-9 {
        font-size: var(--fs-9);
    }
}

.fw {
    &-1 {
        font-weight: var(--fw-1);
    }
    &-2 {
        font-weight: var(--fw-2);
    }
    &-3 {
        font-weight: var(--fw-3);
    }
    &-4 {
        font-weight: var(--fw-4);
    }
    &-5 {
        font-weight: var(--fw-5);
    }
    &-6 {
        font-weight: var(--fw-6);
    }
}
.form {
    &-select,
    &-control,
    &-check-input {
        &:focus {
            box-shadow: none !important;
            border-color: var(--color-1);
        }
    }
    &-check-input {
        &:checked {
            background-color: var(--color-1);
            border-color: var(--color-1);
        }
    }
}
.color {
    &-1 {
        color: var(--color-1) !important;
    }
    &-2 {
        color: var(--color-2) !important;
    }
    &-3 {
        color: var(--color-3) !important;
    }
    &-4 {
        color: var(--color-4) !important;
    }
    &-5 {
        color: var(--color-5) !important;
    }
    &-6 {
        color: var(--color-6) !important;
    }
    &-7 {
        color: var(--color-7) !important;
    }
    &-8 {
        color: var(--color-8) !important;
    }
    &-9 {
        color: var(--color-9) !important;
    }
    &-10 {
        color: var(--color-10) !important;
    }
}
.hover {
    &-text {
        &--color-1 {
            &:hover {
                color: var(--color-1) !important;
            }
        }
        &--underline {
            text-decoration: none !important;
            &:hover {
                text-decoration: underline !important;
            }
        }
    }
}
.z {
    &-1 {
        z-index: 1 !important;
    }
    &-2 {
        z-index: 2 !important;
    }
    &-3 {
        z-index: 3 !important;
    }
    &-4 {
        z-index: 4 !important;
    }
    &-5 {
        z-index: 5 !important;
    }
}
.w {
    &-0 {
        width: 0 !important;
    }
}
.btn {
    height: 38px !important;
    &--color-1 {
        background-color: var(--color-1);
        color: var(--color-5);
        border: none;
        &:hover {
            background-color: var(--color-2);
            color: var(--color-5);
        }
        &--outline {
            border: 1px solid var(--color-1);
            background-color: var(--color-5);
            color: var(--color-1);
            &:hover {
                background-color: var(--color-1);
                color: var(--color-5);
            }
        }
    }
}
.ratio {
    &-40x40 {
        width: 40px;
        height: 40px;
        aspect-ratio: 1/1;
    }
    &-100x100 {
        width: 100px;
        height: 100px;
        aspect-ratio: 1/1;
    }
}
.fade-in {
    animation: fadeIn 0.5s ease;
}
.appear {
    animation: appear 0.3s ease;
}
.rotate-180 {
    transform: rotate(180deg);
    // animation: transition 0.5s ease;
}
.transition-ease {
    transition: all 0.5s ease;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(1rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}
@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
// @keyframes rotate180 {
//     0% {
//         transform: rotate(0deg);
//     }
//     50% {
//         transform: rotate(90deg);
//     }
//     100% {
//         transform: rotate(180deg);
//     }
// }
