.project {
    &__list {
        &__item {
            height: 165px !important;
            transition: all 0.5s ease;
            &__progress {
                &__progress-bar {
                    height: 8px;
                    border-radius: 5px;
                }
                &__base {
                    width: 100%;
                    background-color: var(--color-11);
                }
                &__active {
                    background-color: var(--color-1);
                }
            }
            &__user {
                &__list {
                    &__item {
                        position: relative;
                        &:not(:first-child) {
                            margin-left: -8px;
                        }
                        &.more {
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            z-index: -1;
                        }
                    }
                }
            }
        }
        &__btn {
            &__next {
                position: absolute !important;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
            }
        }
    }
    .form__user,
    .form__status {
        min-height: 38px;
        padding: 8px 16px 8px 12px;
        flex-wrap: wrap;
        background-color: var(--color-5);
        &--selected {
            display: flex;
            align-items: center;
            color: var(--color-1);
            background-color: rgba($color: #4890ff, $alpha: 0.25);
            padding: 4px 12px;
            border-radius: 4px;
            margin-top: 2px;
            margin-bottom: 2px;
        }
        &__select {
            z-index: 1;
        }
    }
    .form__user {
        &--selected {
            &__btn {
                margin-right: -12px;
            }
        }
        &__search {
            width: unset !important;
        }
        &__select {
            min-height: 120px;
            max-height: 200px;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
            &__item {
                &:hover {
                    background-color: var(--color-11) !important;
                }
                &__email {
                    margin-top: -4px;
                }
            }
        }
    }
}
