.main-layout {
    &__nav {
        &.expand {
            width: 222px;
        }
        &.collapse {
            width: 66px;
        }
    }
    &__header {
        height: 66px;
    }
    .nav__btn {
        height: 50px;
        background-color: transparent;
        color: var(--color-4);
        &:hover {
            background-color: var(--color-11);
        }
        &.active {
            background-color: var(--color-1);
            color: var(--color-5);
            .nav__btn__icon__svg {
                path {
                    fill: var(--color-5);
                }
            }
        }
        &__text {
            white-space: nowrap;
        }
        &__icon {
            &__svg {
                div {
                    display: flex;
                }
            }
        }
    }
}
