.main-layout {
    &__nav {
        &.expand {
            width: 272px;
        }
        &.collapse {
            width: 100px;
        }
    }
    &__header {
        height: 66px;
    }
    .nav__btn {
        height: 50px;
        background-color: transparent;
        color: var(--color-3);
        &:hover {
            background-color: var(--color-11);
        }
        &.active {
            background-color: var(--color-1);
            color: var(--color-5);
        }
        &__text {
            white-space: nowrap;
        }
    }
}
